checkpoint
*ckpt*.index
*ckpt*data*
*ckpt*meta
events.out.tfevents*
*.pkl
*.pyc
*.DS_Store
*.sublime-workspace
*.sublime-project
*.pt
*.mat
*.pdf
*.png
*.pth
*.JPEG
*.zip
*.npy
*.gz
*.pickle
*-ubyte
*.log
*.json
__pycache__
wandb